html
	head
	body
		form(action = "/", method = "POST")
			div
				label(for = "first") FirstName:
				input(name = "first" value = "Web")
			br
			div
				label(for = "last") LastName:
				input(name = "last" value = "technology")
			br
			button(type = "submit") Submit